/* You can add global styles to this file, and also import other style files */
$brand-primary:             #3cc3f2 !default;
$brand-secondary:           #0d3742 !default;
$brand-thrid:               #092830 !default;

@import '../node_modules/bootstrap/scss/bootstrap.scss';