<div class="container">
    <div class="col-md-12">
        <h3 class="my-5">Producten</h3>
        <table class="table mt-5">
            <thead>
            <tr>
                <th>ID</th>
                <th>Naam</th>
                <th>Platform</th>
                <th>Prijs</th>
                <th>Koppel</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products | keys">
                <td>{{ product.value["tag_id"] }}</td>
                <td>{{ product.value["game"]["name"] }}</td>
                <td>{{ product.value["platform"]["name"] }}</td>
                <td>&euro; {{ product.value["game"]["price"] }}</td>
                <td><button type="submit" class="btn btn-success btn-block" [value]="product.value['id']" (click)="open(content, $event)">Koppel</button></td>
            </tr>
            </tbody>
        </table>
        <template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Koppel product</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Om het product te koppelen leg je de game op de scanner en wacht je tot er een groen vakje met een unieke code verschijnt.&hellip;</p>

                <div class="model-uid" *ngIf="uid">
                    <h3 class="model-header-uid text-center">{{ uid }}</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close-modal" type="button" class="btn btn-danger" (click)="c('Close click')">Sluiten</button>
                <button type="button" *ngIf="uid" class="btn btn-success" (click)="koppel(product_id, uid)">Opslaan</button>
            </div>
        </template>
    </div>
    <hr class="mt-5">
    <div class="col-md-12">
        <h3 class="my-5">Importeer Producten</h3>
        <p>Select een bestand en upload de excel lijst</p>
        <input type="file" (change)="fileChangeEvent($event)" name="import_file"/>
        <p class="mt-5">Download hier een voorbeeld lijst <a  class="btn btn-download" href="../../../assets/excel/excel-template.xlsx">Klik hier om te downloaden</a> </p>
        <button class="btn btn-lg btn-success" (click)="upload()">Upload lijst</button>
    </div>
</div>

