<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img class="logo" src="../../../assets/img/Logo_final_RGB_V1_white.svg" alt="Logo Custom IoT">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home" *ngIf="loggedIn">Home</a>
            <a class="nav-item nav-link" routerLink="/dashboard" *ngIf="loggedIn">Dashboard <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/product" *ngIf="loggedIn">Products</a>
            <a class="nav-item nav-link" routerLink="/profiel" *ngIf="loggedIn">Profiel</a>
            <a class="nav-item nav-link" routerLink="/login" *ngIf="!loggedIn">Inloggen</a>
            <a class="nav-item nav-link" (click)="logout()" *ngIf="loggedIn">Uitloggen</a>
        </div>
    </div>
</nav>