<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img class="logo" src="../../../assets/img/Logo_final_RGB_V1_white.svg" alt="Logo Custom IoT">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" *ngIf="loggedIn">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" *ngIf="loggedIn">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product" *ngIf="loggedIn">Producten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profiel" *ngIf="loggedIn">Profiel</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf="!loggedIn">Inloggen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" *ngIf="loggedIn">Uitloggen</a>
            </li>
        </ul>
    </div>
</nav>