<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h1 class="text-center">Dashboard</h1>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-4">
            <h3 class="text-center">Chart 1 -- {{ total }}</h3>
            <canvas *ngIf="pieChartData" baseChart="baseChart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="chartType"></canvas>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Chart 2</h3>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Chart 3</h3>
        </div>
    </div>
</div>
